* {
    margin: 1rem;
    padding: 0rem;
    box-sizing: border-box;
}

h1 {
    font-family: 'Gravitas One', cursive;
    font-size: 45px;
}

.cell {
    height: 2rem;
    width: 2rem;
    border-width: 3px!important;
}

.nav {
    font-size: 30px; 
    font-family: 'Sue Ellen Francisco', cursive;
}

.color-selector {
    height: 3rem;
    width: 5rem;
    border-width: 4px;
    border-color: black;
}

.reset {
    height: 3rem;
    width: 5rem;
    border-width: 4px;
    border-color: black;
    background-color: #00c3ff;
}

@media only screen 
and (min-device-width: 375px)
and (max-device-width: 667px) {
    * {
        padding: 0;
        box-sizing: border-box;
        font-size: 14px; 
        font-family: 'Sue Ellen Francisco', cursive;
    }

    .title {
        font-size: 18px; 
        font-family: 'Gravitas One', cursive;
    }

    .color-selector {
        height: 3rem;
        width: 3rem;
        border-width: 4px;
        border-color: black;
    }
    
    .reset {
        height: 3rem;
        width: 3rem;
        border-width: 4px;
        border-color: black;
        background-color: #00c3ff;
    }
}