* {
    margin: 0.3rem;
    box-sizing: border-box;
    background-color: black;
}

body {
    background-color: black;
}

h1 {
    color: white;
    font-family: 'Gravitas One', cursive;
    font-size: 55px;
    margin-top: 1rem;
}

.cell {
    height: 2rem;
    width: 2rem;
    border-width: 3px!important;
}

.nav {
    font-size: 30px; 
    font-family: 'Sue Ellen Francisco', cursive;
    color: white;
}

.color-selector {
    border-width: 1px;
    border-color: white;
    color: white; 
}

.reset {
    border-width: 1px;
    color: white;
    border-color: black;
}

@media only screen 
and (min-device-width: 375px)
and (max-device-width: 667px) {
    * {
        margin: 0.5rem;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Sue Ellen Francisco', cursive;
        justify-content: center;
        font-size: 16px;
        text-align: center;
    }

    h1 {
        font-size: 40px; 
        font-family: 'Gravitas One', cursive;
    }

    .cell {
        height: 1rem;
        width: 1rem;
        border-width: 2px!important;
    }

    .color-selector {
        height: 2rem;
        width: 4rem;
        border-width: 4px;
        border-color: black;
        color: white;
    }
    
    .reset {
        height: 2rem;
        width: 4rem;
        border-width: 4px;
        border-color: black;
        background-color: #00c3ff;
        font-size: 16px;
        color: white;
    }
}

