* {
    margin: 1rem;
    padding: 0rem;
    box-sizing: border-box;
}

h1 {
    font-family: 'Gravitas One', cursive;
    font-size: 45px;
}

.cell {
    height: 2rem;
    width: 2rem;
    border-width: 3px!important;
}

.btn {
    font-size: 30px; 
    font-family: 'Sue Ellen Francisco', cursive;
}

@media only screen 
and (min-device-width: 375px)
and (max-device-width: 667px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 18px; 
        font-family: 'Sue Ellen Francisco', cursive;
    }

    .title {
        font-size: 40px; 
        font-family: 'Gravitas One', cursive;
    }
}